html, body, #maps {
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#maps > * {
  float: left;
}

#maps[data-view="single"] > :first-child {
  height: 100%;
  width: 100%;
}
#maps[data-view="single"] > :not(:first-child) {
  height: 0%;
}

#maps[data-view="multi"] > * {
  height: 50%;
  width: 50%;
}

.debug-row {
  display: flex;
  justify-content: space-between;
}

.debug-row > * {
  padding: 2px 4px;
}
